html {
    overflow: hidden;
}

body {
    background: #000000;
    text-align: center;
}

svg {
    display: block;
}

iframe {
    display: inline-block;
    border: none;
    height: 300px;
    width: 400px;
    margin: 10px;
}
